body {
    background-color: #0A0A0D;
    font-family: 'Josefin Sans', sans-serif;
}

h2, h3 {
    text-align: center;
    color: #0A0A0D;
    font-family: 'Supermercado One', cursive;
}

#container {
    background-color: #beb8b8;
    width: 1200px;
    margin: 20px auto;
    border: 4px solid#7A6C63;
}

header {
    background-color:#71876B;
    padding: 20px;
}

header img {
    display: block;
    margin: 0 auto;
    width: 40%;
}

nav {
    background-color: #F2E9D8;
    padding: 20px 0;
    text-align: center;
    margin: 10px 0;
}

nav a {
    display: inline-block;
    background-color: #6E5B5F;
    height: 40px;
    width: 200px;
    line-height: 40px;
    font-size: 1.2em;
    color:black;
    text-decoration: none;
    font-family: 'Supermercado One', cursive;
}

nav a:hover {
    background-color: rgb(248, 241, 200);
    color: black;
}

main {
    background-color:rgb(244, 245, 236);
    width: 900px;
    margin: 45px auto;
    padding: 20px;
    border: 4px #d6fcf6;
}

main img {
    display: block;
    margin: 40px auto;
    width: 35%;
    background-color:#6F5757;
    border-radius: #d9dfde;
}

footer {
    background-color:#71876B;
    color:rgb(22, 21, 21);
    padding: 40px;
    text-align: center;
    margin-top: 25px;
}

.active {
    background-color: rgb(203, 227, 230);
    color: black;  
}

.pstyle {
    background-color: rgb(203, 227, 230);
    color: rgb(22, 21, 21);
}